@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

header {
	width: 95%;
	margin: 2% auto 0.5% auto;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	/* background-color: gray; */
}

.logo-container {
	width: 60%;
}
.logo-container img {
	width: 40%;
	cursor: pointer;
}

.fa-whatsapp-square {
	color: #25d366;
}
.fa-phone-alt {
	color: rgb(15, 15, 160);
}
.contact-menu {
	width: 15%;
	height: 100% !important;
	font-size: 1.14rem;
	/* background-color: blue; */
}
.navbar {
	width: 25%;
	padding-bottom: 0 !important;
}

.navbar-nav {
	/* background-color: cadetblue; */
	width: 100%;
	display: flex;
	justify-content: space-between !important;
	align-items: flex-end;
}
.nav-item {
	padding-bottom: 0 !important;
	font-size: 1.3rem;
}

/* !! BANNER */
.banner-container {
	height: 60vh;
	width: 100vw;
	background: black url('./imgs/FONDO\ PAGINA\ PRINCIPAL.png') center center
		no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	flex-direction: row;
}

.banner__left {
	margin-left: 3%;
	width: 50%;
	display: flex;
	flex-direction: column;
}
.banner-left__image {
	height: 50%;
}
.banner-left__text {
	width: 80%;
	color: white;
	font-size: 3rem;
	line-height: 1;
}

.banner-left__cta {
	margin-top: 10px;
	width: 19%;
	padding: 8px 0;
	font-size: 1.1rem;
	border-radius: 10px;
	background-color: white;
	border: none;
	font-weight: 500;
}
.banner__right {
	width: 50%;
	background: url('./imgs/FOTO\ PAGINA\ DE\ INICIO\ 1.jpg') center center
		no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	font-size: 6rem;
	line-height: 1;
	display: flex;
	align-items: center;
	text-shadow: -2px -2px 5px #181818ad;
}
.banner-text__container {
	margin: 0 auto;
}
